.mi-boton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .mi-boton.grande {
    font-size: 15px;
    align-self: flex-end;
  }
  
  .mi-boton.pequeno {
    font-size: 14px;
  }
  
  .boton-icono {
    margin-right: 8px; 
  }

  @media (max-width: 640px) {
    .mi-boton {
      padding: 8px 16px;
    }
    
    .mi-boton.grande {
      font-size: 18px;
    }
  
    .mi-boton.pequeno {
      font-size: 12px;
    }
  }
  