.terreno-card-misterrenos {
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    height: 220px;
    /* height: auto; */
  }
  
  .imagen-izquierda-misterrenos {
    flex: 0.5;
    overflow: hidden; 
    border-radius: 8px 0 0 8px; 
  }
  
  .imagen-izquierda-misterrenos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px; 
  }
  
  .info-derecha-misterrenos {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .titulo-y-favorito-misterrenos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
  
  .favorito-misterrenos {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fa6900;
  }
  
  .terreno-info-misterrenos {
    flex-grow: 1;
    padding: 8px;
  }
  
  .terreno-info-misterrenos p {
    margin-bottom: 8px;
  }
  
  .botones-container-misterrenos {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
  }
  
  .editar-link-misterrenos {
    margin-right: 8px;
  }
  
  .editar-misterrenos,
  .vendido-misterrenos {
    background-color: #fa6900;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  @media (max-width: 1024px) {
    .terreno-card-misterrenos {
      flex-direction: column;
    }
  
    .imagen-izquierda-misterrenos {
      margin-right: 0;
      margin-bottom: 8px;
      border-radius: 8px 8px 0 0; 
    }
    .imagen-izquierda-misterrenos img {
      width: 100%;
      height: 400%;
    }
  }
  