.detalle-terreno-container {
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
  }
  
  .detalle-terreno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
    /* background-color: #f2f2f2; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .imagen-terreno {
    flex: 1;
    margin-right: 20px;
  }
  
  .imagen-terreno img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .informacion-terreno {
    flex: 1;
    max-width: 800px; 
    margin-top: 20px;
    text-align: justify; 
  }
  
  .ubicacion,
  .descripcion,
  .area-servicios,
  .documentacion,
  .precio,
  .notas-adicionales {
    margin-bottom: 20px;
  }
  
  h2,
  h3,
  p {
    margin: 0;
  }
  
  h2 {
    color: #fa6900;
  }
  
  h3 {
    color: #333;
  }
  
  /* Estilos responsivos */
  @media (max-width: 640px) {
    .detalle-terreno-container {
      padding: 0px;
    }
    .detalle-terreno {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }
  
    .informacion-terreno {
      margin-top: 0px; 
      max-width: 100%;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
  }
  