.menu-principal {
    position: fixed;
    top: 70px;
    left: -300px;
    width: 300px;
    height: 100%;
    /* Se pude cambiar a color blanco fa6900 */
    background-color: white;
    transition: top 0.3s ease, left 0.3s ease;
  }
  
  .menu-open {
    left: 0;
  }
  
  .menu-content {
    padding: 10px 20px;
    list-style: none;
  }
  
  .close-icon {
    position: absolute;
    top: 10px; 
    right: 20px; 
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    /* Esa es para cambiar color letra */
    color: #fa6900;
    font-size: 16px;
    display: block;
    font-weight: normal;
  }
  

  .menu-link {
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-weight: normal;
    margin: 10px 0; 
    color: #333;
    line-height: 30px; 
    transition: color 0.3s ease, margin 0.3s ease; 
  }
  
  .menu-link[href] {
    color: #fa6900; 
    padding: 8px; 
    border-radius: 5px; 
  }
  
  .menu-link[href]:hover {
    color: #ffffff; 
    background-color: #ff8c00; 
    margin: 10px 0; 
  }
  
  @media (max-width: 640px) {
    .menu-principal {
        width: 230px;
      }    
  }