.main-container-misterrenos {
    padding: 60px;
  }
  
  .cards-container-misterrenos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .title-misterrenos{
    text-align: center;
    margin-bottom: 30px; 
    color: #fa6900;
    font-size: 40px;
    font-weight: bold;
  }
  
  .card-container-row {
    width: 48%; 
    margin-bottom: 20px; 
    /* height: auto; */
  }
  
  .spacer {
    flex: 1;
    min-width: 20px; 
  }

  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .corner-container {
    position: relative;
  }
  
  

    
  @media (max-width: 640px) {
    .card-container-row {
        width: 100%; 
        margin-bottom: 10px; 
      }
      
      .title-misterrenos{
        font-size: 40px;
        font-weight: bold;
      }

      .publicar-terreno {
        background-color: #fa6900;
        color: #fff;
        font-size: 10px;
      }
  }