.user-profile-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  h2 {
    color: #333;
  }
  
  .user-details {
    margin-top: 20px;
  }
  
  .user-details div {
    margin-bottom: 35px;
  }
  
  .profile-icon {
    /* text-align: center; */
    margin-bottom: 20px;
  }
  
  .profile-icon svg {
    color: #fa6900;
  }
  
  input {
    padding: 8px;
    margin-right: 10px;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  button {
    background-color: #fa6900;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fa6900;
  }
  
  /* Additional styles for better visual feedback when editing */
  .user-details input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  
  .user-details input:disabled {
    background-color: #f0f0f0;
  }
  