.formulario-publicacion-terrenos {
    max-width: 1100px;
    margin: 100px auto 20px; 
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
  }
  
  .formulario-publicacion-terrenos h2 {
    color: #fa6900;
    text-align: center;
    margin: 15px;
  }
  
  .formulario-publicacion-terrenos label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
  }
  
  .formulario-publicacion-terrenos input,
  .formulario-publicacion-terrenos textarea,
  .formulario-publicacion-terrenos select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .formulario-publicacion-terrenos .checkbox-label {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .formulario-publicacion-terrenos .checkbox-label input {
    margin-right: 5px;
  }
  
  .formulario-publicacion-terrenos button {
    background-color: #fa6900;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .formulario-publicacion-terrenos .form-section {
    margin-bottom: 20px;
  }
  
  .formulario-publicacion-terrenos .form-section h3 {
    color: #fa6900;
    margin-bottom: 15px;
  }

  
  .formulario-publicacion-terrenos .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .formulario-publicacion-terrenos .form-field {
    width: 48%;
    margin-bottom: 15px; 
  }
  
  @media (max-width: 640px) {
    .formulario-publicacion-terrenos {
      padding: 40px;
      font-size: 13px;
    }
      
    .formulario-publicacion-terrenos .input-group {
        display: flex;
        margin-bottom: 15px; 
    }
    
    .formulario-publicacion-terrenos .form-field {
        width: 100%;
    }

    .formulario-publicacion-terrenos .checkbox-label {
        display:  inline-block;
        text-align: center;
        margin-bottom: 10px; 
      }
      
      .formulario-publicacion-terrenos .checkbox-label input {
        margin-right: 5px; 
        display: inline-flex;
      }
      
  }
  