.terreno-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
  width: 460px;
  height: 460px;
  font-size: 15px;
}

.terreno-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.titulo-y-favorito {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorito {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fa6900;
  margin-top: 5px;
}

.terreno-info img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.precio {
  font-weight: bold; 
  font-size: 20px; 
  color: #fa6900;
  margin-bottom: 5px; 
}

.descripcion {
  font-size: 18px; 
  margin-bottom: 10px; 
}

.ver-mas-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.ver-mas-link {
  text-align: right;
  
}

.ver-mas {
  background-color: #fa6900;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px; 
}

.comprar {
  background-color: #575757; 
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px; 
  font-size: 17px; 
}

.whats {
  background-color: #25D366; 
  color: #ffffff; 
  padding: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px; 
  font-size: 17px; 
}

.whats:hover {
  background-color: #128C7E; 
}

@media (max-width: 640px) {
  .ver-mas-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
  }

  .titulo-y-favorito {
    flex-direction: column;
  }

  .favorito {
    margin-top: 10px;
  }
}
