.welcome-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
  }
  
  .content-container {
    flex: 1; 
    padding: 70px;
  }
  
  .corner-container{
    text-align: right;
    padding: 20px; 
  }

    
  @media (max-width: 640px) {
    .corner-container{
      text-align: center;
    }
  }
  